<header>
    <div class="container">
        <a href="/" class="logo">BSSM</a>
        <nav>
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a href="/dashboard">John</a>
                    <div class="menu">
                        <a href="/orders">Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a href="/cart-page">
                        Cart <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
